<div class="content">
    <div class="navigation-bar"></div>
    <div class="selectSubstrate">
        <select (change)="select($event)" class="select">
            <option select value="streets-v11">Города</option>
            <option value="dark-v10">Темная</option>
            <option value="outdoors-v11">Леса</option>
            <option value="light-v10">Светлая</option>
            <option value="satellite-v9">Спутник</option>
        </select>
    </div>
    <div class="map" id="map" class="match-parent"></div>
</div>
